nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.title-row {
    border:3px solid black;
}

.btn-left {
    border:3px solid red;
}

.btn-right {
    border:3px solid green;
}

.title-center {
    border:3px solid blue;
}

.calendar-header {
    min-width: 400px;
    padding-left: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    border-left: #DADCE0 2px solid;
}

.weekday-header {
    list-style: none;
    font-size: 12px;
    text-align: center;
    background-color: #F6F6F6;
    color: #666;
    padding: 3px;
    margin: 0;
    overflow: auto;
    border-top: #DADCE0 2px solid;
    border-right: #DADCE0 2px solid;
    border-bottom: 0px;
}

.calendar {
    border:3px solid black;
    min-width: 400px;
    padding-left: 0;
    /*border-bottom: #DADCE0 2px solid;
    border-left: #DADCE0 2px solid;*/
}

.day-header {
    border:3px solid green;
    background-color: #F0F0F0;
}

.day {
    border:3px solid blue;
    list-style: none;
    text-align: left;
    min-height: 120px;
    background-color: #FDFDFD;
    padding: 3px;
    margin: 0;
    overflow: auto;
    cursor: pointer;
    /*border-top: #DADCE0 2px solid;
    border-right: #DADCE0 2px solid;
    border-bottom: 0px;*/
}

.day-othermonth {
    background-color: #F3F3F3;
    cursor: auto;
}

.daybalance {
    border:3px solid black;
    font-size: 13.5px;
    font-weight: 700;
    color: #666;
    padding: 3px;
    text-align: right;
    margin-right: 0;
}

.daynumber {
    border:3px solid red;
    font-size: 13.5px;
    font-weight: 700;
    color: #666;
    padding: 3px;
}

.daynumber-current {
    color: #F9F9F9;
    background-color: #3EB34F;
    padding: 4px;
    border-radius: 2px;
}

.daynumber-othermonth {
    font-weight: 400;
    color: #777774;
}

ul.transactions li {
    background-color: #444;
    color: #FEFEFE;
    margin-bottom: 1px;
    padding: 1px 4px 2px 2px;
    cursor: pointer;
    border-radius: 2px;
}

.transaction.greyed {
    background-color:#B8B8B8 !important;
}
