{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block main %}
    <div class="header">
        <form action="/prev/{{ current_year }}/{{ current_month }}" method="post">
            <button name="forwardBtn" title="Previous Month" type="submit">&lt;</button>
        </form>
        <form action="/next/{{ current_year }}/{{ current_month }}" method="post">
            <button name="backBtn" title="Next Month" type="submit">&gt;</button>
        </form>
        <div class="current-date">
            {{ current_months_name }} {{ current_year }}
        </div>
        {% if todays_date.month != current_month or todays_date.year != current_year %}
            <form action="/" method="post">
                <button name="current" title="Back to current" type="submit">Back to current</button>
            </form>
        {% endif %}
     </div>

   <ul class="calendar-header">
        {% for weekday_header in weekdays_headers %}
            <li class="weekday-header">{{ weekday_header }}</li>
        {% endfor %}
    </ul>

    <ul class="calendar" id="calendar">
        {% for day in month_days %}
            <li
                {% if day.month != current_month %}
                    class="day othermonth"
                {% else %}
                    class="day"
                {% endif %}>
                {% if day.day == todays_date.day and day.month == todays_date.month and day.year == todays_date.year %}
                    <span class="daynumber-current">
                {% elif day.month != current_month %}
                    <span class="daynumber-othermonth">
                {% else %}
                    <span class="daynumber">
                {% endif %}
                {{ day.day }}</span>
                <form action="/add/{{ day.year }}/{{ day.month }}/{{ day.day }}" method="post">
                    <button class="hide" name="current" title="New Transaction" type="submit">+</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
