{% extends "layout.html" %}

{% block title %}
    Add Transaction
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="form-group row justify-content-center">
            <label for="title" class="col-sm-2 col-form-label">Transaction Name</label>
            <div class="col-sm-2">
                <input class="form-control" name="title" type="text" id="title">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="amount" class="col-sm-2 col-form-label">Transaction Amount</label>
            <div class="input-group col-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input class="form-control" name="amount" type="number" id="amount" step="any" min="0" placeholder="10.00">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="date" class="col-sm-2 col-form-label">Transaction Date</label>
            <div class="col-sm-2">
                <input class="form-control" name="date" type="date" id="date">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="account" class="col-sm-2 col-form-label">Account</label>
            <div class="col-sm-2">
                <input class="form-control" name="account" type="text" id="account">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="category" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-2">
                <input class="form-control" name="category" type="text" id="category">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="description" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-2">
                <input class="form-control" name="description" type="text" id="description">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="cleared" class="col-sm-2 col-form-label"> Transaction Cleared?</label>
            <div class="col-sm-2">
                <input class="form-control" name="cleared" type="checkbox" value="Cleared">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="income" class="col-sm-2 col-form-label"> Income?</label>
            <div class="col-sm-2">
                <input class="form-control" name="income" type="checkbox" value="Income">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="repeat" class="col-sm-2 col-form-label"> Repeated?</label><br>
            <div class="col-sm-2">
                <input class="form-control" name="repeat" type="checkbox" value="Repeat">
            </div>
        </div>
      
        <button class="btn btn-primary" type="submit">Submit</button>
        <a href="{{ url_for('index') }}">Cancel</a>
    </form>
{% endblock %}
