{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block main %}
    {% set ns = namespace(curr_balance=balance) %}
    <div class="row justify-content-center title-row">
        {% if current_month == 1 %}
            <form class="col-1 order-1 btn-left ml-0" action="/{{ current_year-1 }}/12" method="post">
                <button name="forwardBtn" title="Previous Month" type="submit">&lt;</button>
            </form>
        {% else %}
            <form class="col-1 order-1 btn-left ml-0" action="/{{ current_year }}/{{ current_month-1 }}" method="post">
                <button name="forwardBtn" title="Previous Month" type="submit">&lt;</button>
            </form>
        {% endif %}

        {% if current_month == 12 %}
            <form class="col-1 order-2 btn-left ml-0" action="/{{ current_year+1 }}/1" method="post">
                <button name="backBtn" title="Next Month" type="submit">&gt;</button>
            </form>
        {% else %}
            <form class="col-1 order-2 btn-left ml-0" action="/{{ current_year }}/{{ current_month+1 }}" method="post">
                <button name="backBtn" title="Next Month" type="submit">&gt;</button>
            </form>
        {% endif %}

        {% if todays_date.month != current_month or todays_date.year != current_year %}
            <form class="col-1 order-3 btn-left ml-0" action="/" method="get">
                <button name="currentBtn" title="Current Month" type="submit">Current</button>
            </form>
            <div class="col-1 order-5 btn-right mr-0"></div>
        {% endif %}

        <div class="col order-4 title-center">
            {{ current_months_name }} {{ current_year }}
        </div>
        <form class="col-2 order-6 btn-right mr-0" action="/add" method="get">
            <button name="addBtn" title="Add Transaction" type="submit">+</button>
        </form>
    </div>

   <ul class="row justify-content-center calendar-header">
        {% for weekday_header in weekdays_headers %}
            <li class="col weekday-header">{{ weekday_header }}</li>
        {% endfor %}
    </ul>

    <ul class="row justify-content-center calendar" id="calendar">
        {% for day in month_days %}
            {% if loop.index0 % 7 == 0 and loop.index0 != 0 %}
                <div class="w-100"></div>
            {% endif %}
            <li
                {% if day.month != current_month %}
                    class="col day day-othermonth"
                {% else %}
                    class="col day"
                {% endif %}
                data-year="{{ day.year }}"
                data-month="{{ day.month }}"
                data-day="{{ day.day }}">

                <div class="row no-gutters day-header">
                    {% if day.day == todays_date.day and day.month == todays_date.month and day.year == todays_date.year %}
                        <span class="daynumber daynumber-current">
                    {% elif day.month != current_month %}
                        <span class="daynumber daynumber-othermonth">
                    {% else %}
                        <span class="daynumber">
                    {% endif %}
                    {{ day.day }}</span>

                    {% if ns.curr_balance < 0 %}
                        <span class="col daybalance daybalance-negative">
                    {% else %}
                        <span class="col daybalance">
                    {% endif %}
                    {{ "$%.2f"|format(ns.curr_balance) }}</span>
                </div>

                <div class="transactions">
                    {% for transaction in transactions %}
                        {% if transaction.date.month == day.month and transaction.date.day == day.day and transaction.date.year == day.year %}
                            <div
                                {% if transaction.income != True %}
                                    class="row no-gutters transaction transaction-red"
                                {% else %}
                                    class="row no-gutters transaction transaction-green"
                                {% endif %}>
                                <div class="col">
                                <a href="{{ url_for('edit_transaction', transaction_id = transaction.id) }}">
                                    {{ transaction.title }}
                                </a>
                                </div>
                                <div class="col">
                                <a href="{{ url_for('edit_transaction', transaction_id = transaction.id) }}">
                                    {{ "$%.2f"|format(transaction.amount) }}
                                </a>
                                </div>
                            </div>
                            {% set ns.curr_balance = (ns.curr_balance + transaction.amount) if transaction.income == True else (ns.curr_balance - transaction.amount) %}
                        {% endif %}
                    {% endfor %}
                </div>

            </li>
        {% endfor %}
    </ul>
{% endblock %}
